In [1]:
import mysql.connector
import pandas as pd 
import json
import numpy as np
import MySQLdb
import MySQLdb.cursors

In [2]:
db_thread = MySQLdb.connect("127.0.0.1", "root", "", "testing2", cursorclass=MySQLdb.cursors.DictCursor)
cur_thread = db_thread.cursor()
print(cur_thread)

<MySQLdb.cursors.DictCursor object at 0x00000167677ACC88>

In [5]:
cur_thread.execute("select count(*) as jumlah, sekolah_id from user u  group by u.sekolah_id order by jumlah desc;")
sekolahs = cur_thread.fetchall()

In [ ]:
for sekolah in sekolahs:
    if 300 > sekolah['jumlah'] > 220:
        print('sekolah_id: ', sekolah['sekolah_id'])        
        print('jumlah: ', sekolah['jumlah'])
        jumlah = int(sekolah['jumlah']/2)
        sql = "select * from user where level='siswa' and sekolah_id='%s' order by id LIMIT %d" %(sekolah['sekolah_id'], jumlah)
        cur_thread.execute(sql)
        siswas = cur_thread.fetchall()
        siswa_id = []
        for siswa in siswas:
            siswa_id.append(siswa['id'])
        siswa_id_tuple = tuple(siswa_id)
        sql = "delete from ujian_siswa where user_id in {};".format(siswa_id_tuple)
        cur_thread.execute(sql)
        db_thread.commit()
        sql = "delete from user where level='siswa' and id in {};".format(siswa_id_tuple)
        cur_thread.execute(sql)
        db_thread.commit()
        print("ok")

sekolah_id:  0a64c00a-3e7e-11ea-bf72-dc7196bc523b
jumlah:  298
ok
sekolah_id:  023687ec-3e7e-11ea-bf72-dc7196bc523b
jumlah:  298
ok
sekolah_id:  0b222780-3e7e-11ea-bf72-dc7196bc523b
jumlah:  298
ok
sekolah_id:  24377aa4-3e7e-11ea-bf72-dc7196bc523b
jumlah:  298